##
## Well-known external dependencies
##
/js-lib/d3-v4.min.js
/js-lib/jit-201.min.js
/js-lib/jstat-192.min.js
/js-lib/jquery-183.min.js
/js-lib/jquery.flot-07.axislabels.js
/js-lib/jquery.flot-08.min.js
/js-lib/normalize.css
/js-lib/plotly-131.min.js
/js-lib/big-313.min.js
/js-lib/ssci-131.min.js
