* {
    box-sizing: border-box;
}
html, body {
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
sup {
    top: -0.75em;
}
sup.overhead {
    left:6px;
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
}
input, select, button {
    height: 24px;
    width: 60px;
    line-height: 20px;
    padding: 0 6px;
    border: 1px solid #999;
}
input[type=checkbox] {
    height: auto;
    width: auto;
    vertical-align: baseline;
}
button{
    width: 140px;
}
label {
    width: 40px;
}
.controlBlock{
    display:inline-block;
    margin-left:5px;
}
.controlBlock.singleWidth {
    width:100px;
}
.controlBlock.doubleWidth {
    width:210px;
}
.controlBlock.singleWidth label,
.controlBlock.doubleWidth label {
    width:30px;
    text-align:right;
    display:inline-block;
}
.controlBlockTitle {
    font-weight:bold;
}
.controlBlockRow{
    margin: 5px 0;
    display: block;
}
#wrapper {
    max-width: 510px;
    min-width: 510px;
    width: 510px;
}
#figureWrapper {
    width: 100%;
    text-align: center;
}
#figureWrapper div {
    display: inline-block;
    height: 200px;
}
#figureWrapper div.label {
    display: inline-block;
    height: auto;
}
#figureWrapper .fullSize {
    width: 500px;
}
#figureWrapper .halfSize {
    width: 250px;
}
#figureWrapper .thirdSize {
    width: 165px;
}
#figureWrapper .twoThirdSize {
    width: 330px;
}
#figureWrapper p {
    margin: 1.5em 0 0.5em 0;
}
#figureWrapper p.header {
    font-size: 1.1em;
    font-weight: 700;
}
#controlWrapper {
    line-height: 30px;
}
