* {
    box-sizing: border-box;
}
html, body {
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
sup {
    top: -0.75em;
}
input, select, button {
    height: 24px;
    width: 60px;
    line-height: 20px;
    padding: 0 6px;
    border: 1px solid #999;
}
input[type=checkbox] {
    height: auto;
    width: auto;
    vertical-align: baseline;
}
button{
    width: 140px;
}
label {
    width: 40px;
}
.controlBlock{
    display:inline-block;
    margin-left:5px;
}
.controlBlockTitle {
    font-weight:bold;
}
.controlBlockRow{
    margin: 5px 0;
    display: block;
}
#wrapper {
    max-width: 510px;
}
#figureWrapper {
    width: 100%;
    text-align: center;
}
#figureWrapper div {
    display: inline-block;
    height: 200px;
}
#figureWrapper div.fullSize {
    width: 500px;
}
#figureWrapper div.halfSize {
    width: 250px;
}
#figureWrapper div.thirdSize {
    width: 165px;
}
#figureWrapper div.twoThirdSize {
    width: 330px;
}
#controlWrapper {
    line-height: 30px;
}
