html,body {
    margin:0;
    padding:0;
    font-size:13px;
}
#figWrap{
    width:100%;
    text-align:center;
    margin-bottom:10px;
}
#timeSeriesPlot,#psdPlot{
    width:100%;
    height:250px;
    display:inline-block;
}
.controlBlock{
    display:inline-block;
    margin-left:5px;
}
#controls{
    line-height:2;
}
#controls label{
    width:40px;
}
#controls input{
    width:60px;
}
#controls button{
    width:160px;
    color:#999;
}
#controls button.chosen{
    font-weight:bold;
    color:#000;
}
